[Unit]
Description=Shamell Monolith
After=network.target

[Service]
WorkingDirectory=/home/pi/Shamell
Environment="ENV=dev" "MONOLITH_MODE=1" "MONOLITH_ONLY=1" "PAY_INTERNAL_MODE=on" "PAYMENTS_INTERNAL_MODE=on" "ALLOWED_ORIGINS=*"
ExecStart=/home/pi/Shamell/.venv/bin/uvicorn apps.monolith.app.main:root_app --host 0.0.0.0 --port 8080
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
