version: "3.9"

services:
  backend:
    container_name: shamell-backend
    build:
      context: .
      dockerfile: apps/monolith/Dockerfile
    image: shamell-monolith
    environment:
      MONOLITH_MODE: "1"
      ENV: "dev"
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    container_name: shamell-frontend
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    image: shamell-frontend-monolith
    depends_on:
      - backend
    ports:
      - "8081:8080"
    restart: unless-stopped

