<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202621626273-2ldvp383udp7bcqq5j7l0d0dh4tmd01d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202621626273-2ldvp383udp7bcqq5j7l0d0dh4tmd01d</string>
	<key>API_KEY</key>
	<string>AIzaSyD6w57peirGR89_I0cpDHT7wRMLNeUZFTc</string>
	<key>GCM_SENDER_ID</key>
	<string>202621626273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syriasuper.app</string>
	<key>PROJECT_ID</key>
	<string>syriasuperapp</string>
	<key>STORAGE_BUCKET</key>
	<string>syriasuperapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202621626273:ios:4ce8fe942e5aa708fb0de0</string>
</dict>
</plist>